.loading h2{
    font-family: Qatar2022;
}

.loading span{
    font-family: Qatar2022;
    width: 1em;
    height: 1em;
    margin: 1em 5px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    animation-name: dots;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.loading span:nth-child(2){
    background-color: #faf;
    animation-delay: 0.4s;
}

.loading span:nth-child(3){
    background-color: #d1f;
    animation-delay: 0.8s;
}

@keyframes dots{
    50%{
        opacity: 0;
        transform: scale(0.5) translateY(10px);
    }
}