.matchContainer{
  display: flex;
  flex-direction: column;
  font-family: 'Qatar2022';
  width: 60%;
  margin: 0 auto;
}

.matchCard{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #03090f;
  margin: 1rem auto;
}

.matchCard h4, h3{
  text-align: center;
}

.teams{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.teamContent{
  flex: 2;
}

.awayTeam{
  flex: 2;
}

.matchCenterArea{
  flex: 1;
}

.matchScore{
  display: flex;
}

.teamContent div{
  height: 90px;
  text-align: center;
}

.teamContent div img{
  height: 100%;
  width: 50%;
}

.teamContent ul{
  text-align: center;
  list-style: none;
  padding-inline-start: 0;
}