.matchContainer{
  display: flex;
  flex-direction: column;
  font-family: 'Qatar2022';
  width: 60%;
  margin: 0 auto;
}

.matchCard{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #03090f;
  margin: 1rem auto;
  border: 1px solid #AAA;
  box-shadow: 0.5rem 0.5rem 1rem black;
}

.matchCard h4, h3{
  text-align: center;
}

.group{
  font-size: 18px;
  padding: 0.7rem 0;
  text-decoration: underline;
}

.teams{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.teamContent{
  flex: 2;
}

.awayTeam{
  flex: 2;
}

.matchCenterArea{
  flex: 1;
}

.matchElapsedTime{
  font-size: 22px;
}

.matchScore{
  display: flex;
}

.matchScore h1{
  padding-top: 1rem;
  text-shadow: 1px 1px 5px black;
}

.teamContent div{
  height: 90px;
  text-align: center;
}

.teamContent div img{
  height: 100%;
  width: 50%;
}

.teamContent h4{
  font-size: 18px;
  text-shadow: 3rem 3rem 3rem black;
  margin: 0.5rem 0;
}

.teamContent ul{
  text-align: center;
  list-style-type: circle;
  padding-inline-start: 0;
  width: 50%;
  margin: 1rem auto;
}

.teamContent li{
  color: whitesmoke;
  text-shadow: 2px 2px 3px black;
}

select{
  background-color: #03090f;
  color: white;
}