table th, td{
    padding: 5px;
}

h3{
    font-size: 28px;
}

table{
    font-size: 24px;
}

tbody td{
    text-align: center;
    border-right: 1px solid #999;
    border-top: 1px solid #999;
}

tbody tr :first-child{
    text-align: initial;
}

.standingCard{
    margin: 3rem;
    background: #03090f;
    padding: 1rem;
    border: 1px solid #AAA;
    box-shadow: 0.5rem 0.5rem 1rem black;
}
